/* start contacts */

.contact-in {
    width: 70%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 15px;
    background: #19191A;
    margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
    .contact-in {
        width: 100%;
        flex-direction: column;
        margin-bottom: 25px;
    }
}
/* ========= Map ========== */
.map {
    width: 100%;
    height: auto;
    flex: 50%;
}

.map iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .map {
        margin-bottom: 20px;
    }
}
/* ========= Contacts ========== */
.form > h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    margin-top: 25px;
}

.contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
    margin-top: 5px;
}

.tel {
    color: $light-color;
    font-size: 18px;
    transition: $main-transtation;
}

.tel > a {
    color: $light-color;
    font-size: 18px;
    letter-spacing: 2px;
    transition: $main-transtation;
}

.tel:hover, .tel > a:hover {
    color: $btn-2;
}

.socialMedia > p {
    margin-bottom: 8px;
}

.socialMedia, .socialMedia > a {
    color: #fff;
    padding: 5px;
    transition: $main-transtation;
}

.socialMedia a:hover {
    color: $btn-2;
}

@media screen and (max-width: 768px) {
    .contacts:before {
        content: "";
        background: $btn-2;
        height: 2px;
        width: 100%;
        margin-bottom: 15px;
    }
}
/* ========= Form ========== */
.form {
    width: 100%;
    height: auto;
    flex: 50%;
    text-align: center;
    padding: 20px;
}

.form-txt, .txt-area {
    width: 100%;
    height: 40px;
    color: #000;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px;
}

.txt-area {
    height: 150px;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .form {
        padding: 5px 0;
    }
}

/* end contacts */