.course-details {
    padding: 50px 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}

.course-details img {
    width: 413px;
    height: 463px;
    border-radius: 25px;
}

.txt-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.txt-head {
    font-size: $h1-font-size;
    color: $main-color;
    font-weight: $font-semi-bold;
    margin-bottom: 25px;
}

.txt-paragraph div {
    max-width: 35rem;
    margin-bottom: 15px;
    line-height: 1.5;
}

.first-section > h4 {
    font-size: 16px;
    color: $btn-3;
}

div .first-section::after {
    content: "ـــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ";
    font-size: medium;
    margin-top: 20px;
    color: $main-color;
}

@media screen and (max-width: 768px) {
    section {
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .photo img {
        height: 308px;
        width: 276px;
        margin-bottom: 50px;
    }
    .txt-details {
        display: flex;
        align-items: center;
    }
    .txt-head {
        margin-bottom: 15px;
    }
    
    .txt-paragraph {
        margin-bottom: 15px;
    }
}
