// Import Global Rules
@import './global-rules';

// Import Header
@import './header';

// Import Sections Details
@import './page-style';


// Color
$main-color:  #EC294C;
$sec-color:   #19191A;
$light-color: #f4f4f4;
$btn-1:       #E21A66;
$btn-2:       #E8A412;
$btn-3:       #21378F;
$btn-4:       #01196D;

// Import Footer
@import './footer';
