// Import Global Rules
@import './global-rules';

// Import Header
@import './header';

// Landing PAge Go Down Icon

// Color
$main-color:  #EC294C;
$sec-color:   #19191A;
$light-color: #f4f4f4;
$btn-1:       #E21A66;
$btn-2:       #E8A412;
$btn-3:       #21378F;
$btn-4:       #01196D;

.landing-page .go-down {
    color: $main-color;
    position: absolute;
    font-size: 1.5em;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transtation);
}

.landing-page .go-down:hover {
    color: $light-color;
}

.landing-page .go-down ion-icon {
    animation: bouncing 1.5s infinite;
}

// Import Footer
@import './footer';
